@font-face {
    font-family: "Drip-Octomber";
    src: url("../fontFiles/DripOctober-vm0JA.ttf");
}

body{
    background-image: url("../imgs/Cool-White-Backgrounds-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

*{
    font-family: "Drip-Octomber";
}

header{
    width: 100%;
    height: 120px;
    background-color: whitesmoke;
    border: 2px solid silver;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.headerContentArea{
    display: flex;
    width: 100%;
    height: 120px;
    /* border: 2px solid red; */
    padding: 10px;
}

.logoContentArea{
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    width: 150px;
    height: 100%;
    /* border: 2px solid blue; */
}

.logoArea{
    
}

.logoImageLoad:hover{
    width: 72px;
    height: 72px;
    
}

.optionsContentArea{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 10px;
    width: 600px;
    height: 100%;
    /* border: 2px solid aqua; */
}

.optionsArea{
    display: flex;
    flex-direction: row;
    place-items: center;
    place-content: center;

}

.optionLinks{
    margin-left: 40px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 1000;
    color: crimson;
}

.optionLinks:hover{
    text-decoration: none;
    border-bottom: 4px solid silver;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
    color: crimson;
    transition: 0.4s ease-out;
    
}

.activeLink{
    border-bottom: 2px solid red;
}   

.displayArticle{
    display: flex;
    width: 100%;
    height: 420px;
    margin-top: 70px;
    /* border: 2px solid red; */
    
}

.displayGraphContent{
    width: 60%;
    height: 420px;
    background-color: whitesmoke;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.testForYouCont{
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    width: 40%;
    height: 420px;
    /* border: 2px solid blue; */
}

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}


.getUserNameCont{
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    width: 70%;
    height: 450px;
    background-color: whitesmoke;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.getUserNameHeadingCont{
    width: 100%;
    height: 80px;
    /* border: 2px solid red; */
    text-align: center;
}

.getUserNameBoxArea{
    width: 400px;
    height: 150px;
    /* border: 2px solid blue;  */
}

.button-45 {
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.button-45:active,
.button-45:hover,
.button-45:focus {
  outline: 0;
}


.button-45:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.button-45:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.getInputNameBox{
    border: none;
    color: red;
    outline: none;
    width: 230px;
    height: 32px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-bottom: 2px solid red;
    transition: 0.4s ease-out;
    background-color: whitesmoke;
}

.getInputNameBox:focus{
    border-bottom: 2px dashed red;
    transition: 0.4s ease-out;
}

.getUserDiseases{
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  background-color: rgba(245, 245, 245, 0.897);
  height: 2800px;
  margin-top: 80px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  overflow-y: auto;
  margin-bottom: 50px;
}

.getDiseaseSympCont{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  /* border: 2px solid red; */
  height: 80%;
  padding: 40px;
  font-size: large;
  color: red;
}





.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


.getDiseaseSympCont select{
  display: flex;
  margin-bottom: 40px;
  width: 500px;
}

.submitButtonAreaGS{
  /* border: 2px solid red; */
  width: 100%;
  height: 100px;
  display: flex;
  place-items: center;
  place-content: center;
}

.displayPredictedResultArea{
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 50px;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  height: 800px;
  background-color: whitesmoke;
  margin-top: 80px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.displayDiseasesCont{
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  height: auto;
  background-color: whitesmoke;
  margin-top: 80px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.displayDisease{
  font-size: 26px;
  font-weight: 100;
  color: red;
  margin-bottom: 8px;
}

.displayDiseaseDesc{
  font-size: 14px;
  text-align: center;
  margin-bottom: 60px;
}